<h1>Login</h1>

<form class="login-form" action="/login" method="post">
  <input type="email" name="email" placeholder="Enter your email here">
  <br/>
  <input type="password" name="password" placeholder="Your password here">
  <br/>
  <input type="submit" value="Login">
</form>
<hr/>
<p>Don't have account? <a href="/signup">Sign up</a></p>