<form class="login-form" action="/login" method="post">
  <h1 class="logo">Login</h1>
    <input class="input-field" type="email" name="email" id="email" placeholder="Enter your email here">
    <input class="input-field" type="password" name="password" id="email" placeholder="Your password here">
    <br>
  <input type="submit" class="submit-btn" value="Login">
</form>

<hr class="signup-hr" />
<div class="signup-suggestion">
  <p>Don't have account? <a href="/signup">Sign up</a></p>
</div>