<h1>Sign up</h1>

<form class="signup-form" action="/signup" method="post">
  <input type="text" name="user[name]" placeholder="Enter your name here">
  <br/>
  <input type="email" name="user[email]" placeholder="Enter your email here">
  <br/>
  <input type="password" name="user[password]" placeholder="Your password here">
  <br/>
  <input type="submit" value="Create account">
</form>