<div class="header-nav">
  <div class="logo">
    Simple Wishlist
  </div>
  <form class="logout-form" action="/logout" method="post">
    <input type="submit" class="logout-btn" value="Logout">
  </form>
</div>