<h1>Create your wishlist here</h1>

<form class="wishlist-form" action="/wishlists" method="post">
  <input type="text" name="wishlist[name]" placeholder="Enter wishlist name">
  <br/>
  <textarea name="wishlist[description]" rows="12" cols="40"></textarea>
  <input type="submit" value="Create">
</form>