<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <title>Simple Wishlist</title>
  </head>
  <body>
    <%= erb :"shared/header" %>
    <%= yield %>
  </body>
</html>